.git
.gitignore
**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
**/node_modules
**/dist
**/build
**/.vite
**/.svelte-kit
**/.vscode
**/.idea
**/.venv
**/venv
**/.env
**/.env.*
**/logs/*.log

